$color_blue_5: #F2F4FC !default;
$color_blue-10: #E7EAFA !default;
$color_blue-20: #CED4F5 !default;
$color_blue-30: #B5BFF0 !default;
$color_blue-40: #9CA9EB !default;
$color_blue-50: #8494E6 !default;
$color_blue-60: #6B7EE0 !default;
$color_blue-70: #536ADC !default;
$color_blue-80: #3953D6 !default;
$color_blue-90: #213FD2 !default;
$color_blue-100: #0829CC !default;
$color_blue-110: #0A23A0 !default;

// GRAY
$color_gray-2_5: #F8F8FA !default;
$color_gray_5: #F0F1F4 !default;
$color_gray-10: #E6E7EC !default;
$color_gray-20: #D2D3DB !default;
$color_gray-30: #B8BAC5 !default;
$color_gray-40: #A8AAB4 !default;
$color_gray-50: #9698A5 !default;
$color_gray-60: #7C7F8B !default;
$color_gray-70: #696C7B !default;
$color_gray-80: #4E5265 !default;
$color_gray-90: #3A3E51 !default;
$color_gray-100: #25293D !default;
$color_gray-blue: #6A7090 !default;

// GREEN
$color_green-10: #F4FBF0 !default;
$color_green-100: #90D362 !default;
$color_green-103: #10C50C !default;
$color_green-101: #20744B !default;

// YELLOW + ORANGE
$color_yellow-10: #FFFAE6 !default;
$color_yellow-100: #FFC700 !default;
$color_orange-100: #FFA800 !default;

// RED
$color_red-10: #FBEBEB !default;
$color_red-100: #D43030 !default;

// DARK THEME
$dark_theme-100: #121212 !default;
$dark_theme-80: #282828 !default;
$dark_theme-60: #3f3f3f !default;
$dark_theme_40: #575757 !default;
$dark_theme_30: #717171 !default;
$dark_theme_20: #8b8b8b !default;
