@import './colors.scss';
@import './fonts.scss';
@import './media.scss';

body {
  margin: 0;
  text-align: left;
  background-color: #fff;
}

a {
  color: #212529;
}

*,
*::before,
*::after {
  box-sizing: border-box; // 1
}

@mixin defaultScroll {
  &::-webkit-scrollbar {
    width: 5px;
    height: 6px;
  }
  &::-webkit-scrollbar-thumb {
    background: $color_gray-60;
    height: 4px;
    border-radius: 5px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
}